/* Emily Ren Jacksonm, COMP333, Feb 14 2022 
    Landing Page css Style 
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
}
p {
    text-align: center
    color:rgb(75, 22, 136);
}