/* Emily Ren Jacksonm, COMP333, Feb 14 2022 
    Landing Page css Style 
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
}
p {
    text-align: center;
    color:white;
    background-color:rgb(67, 63, 70);
}
div {
    background-color: rgb(67, 63, 70);
    padding-right: 48px;
    padding-left: 48px;
    padding-bottom: 16px;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
    color:white;
    background-color: black;
}
/*css styles via ID attributes */
#opposite-div {
    color:black;
    background-color:white;
    
}
/*css styles via class attributes */ 
.navbar ul {
    
    list-style: none;
    width: 800px;
    margin: 0 auto;

    padding: 16px;

    background-color: rgb(67, 63, 70);
    text-align: center;

}

.navbar li {
    width: 150px;
    background-color: black;
    border: 1px solid white;

    padding: 16px;
    display: inline-block;
    line-height: 24px;
}

.navbar a {
    color:white;
    text-decoration: none;
}

table, td {
    border: 1px solid gray;
}

input {
    display: block;
}

/*.row{
    vertical-align: middle;
    display:flex;
}
.column{
    flex: 33.33%;
    padding: 8px
}
*/
.flex-box-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-around;
}
.flex-box-collumn{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: stretch;
}

.box {
    border-width: 8px;
    border-style: solid;

    margin: 10px 5px 15px 16px;
    padding: 40px;
}