/* Emily Ren Jacksonm, COMP333, Feb 14 2022 
    Landing Page css Style 
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
}
p {
    text-align: center;
    color:rgb(41, 17, 68);
}
div {
    background-color: rgb(228, 177, 255);
}
h2 {
    text-align: center;
}
/*css styles via ID attributes */
#opposite-div {
    color:rgb(248, 162, 3);
    /*background-color:rgb(41, 17, 68);*/
    
}
/*css styles via class attributes */ 
.navbar ul {
    /* 
        Remove bullet points.
    */
    list-style: none;
    width: 500px;
    margin: 0 auto;
    /* 
        No padding.
    */
    padding: 0;
    /* 
        For navbars use background color that stands out.
    */
    background-color: rgb(228, 177, 255);
    text-align: center;
}

/*  
    Style individual list items.
*/
.navbar li {
    width: 150 px;
    background-color: rgb(255, 144, 17);
    border: 1px solid rgb(117, 65, 151);
    /* 
        Show the navbar elements next to each other instead of on top of each 
        other. 
    */
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}

/* 
    Style links in navbar.
*/
.navbar a {
    color:rgb(117, 65, 151);
    text-decoration: none;
}

table, td {
    border: 1px solid gray;
}

input {
    /* 
        Show different input on top of each other instead of next to each other.
    */
    display: block;
}